.content-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding:.5rem .6rem;
  li{
    flex:1;
    font-size: .42rem;
    color:#414042;
    h3{
     font-size: .42rem;
     color:#414042;
     font-weight: bold;
     margin-top:.5rem
    }
    div{
      margin-left: 1.4rem;
      margin-top: .2rem;
      p{
        text-align: left;
        width:100%;
        overflow: hidden; /* 溢出时不显示溢出的内容 */
        text-overflow: ellipsis; /* 发生溢出时使用省略号代替 */
        white-space: nowrap;
      }
      img{
        width: 9.6rem;
        height:6.4rem;
        background: url('./1.png') no-repeat;
        background-size:100% 100%;
        margin-top: .5rem;
      }
      .footer-bom{
        width: 100%;
        margin-top: .3rem;
        margin-left:0;
        font-size: .36rem;
        position: relative;
        .comment{
          background: url('/static/img/comment.png') no-repeat left center;
          background-size: .45rem;
          padding-left: 0.5rem;
          
        }
        .fabulous{
          margin-left: .5rem;
          background: url('/static/img/heart.png') no-repeat left center;
          background-size: .45rem;
          padding-left: 0.5rem;
        }
      }
    }
  }
  
}
.loading{
  font-size: .48rem;
  color:#BCBEC0;
  margin-top: .5rem;
  position: relative;
  i{
    width: .5rem;
    height: .5rem;
    background: url('/static/img/loading.gif') no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    left:40%;
    top:.1rem;
  }
  span{
    margin-left: .5rem;
  }
}

//单选框

