.content-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 .6rem;
  li{
    flex:1;
    font-size: .42rem;
    color:#414042;
    h3{
     margin-left: -8.6rem;
     font-size: .42rem;
     color:#414042;
     font-weight: bold;
     margin-top:.5rem
    }
    p{
      margin-left: 1.4rem;
      margin-top: .2rem;
      span{
        text-align: left;
        max-width: 9.6rem;
        overflow: hidden; /* 溢出时不显示溢出的内容 */
        text-overflow: ellipsis; /* 发生溢出时使用省略号代替 */
        display: -webkit-box; /* chrome浏览器的私有属性。显示为box。 */
        -webkit-box-orient: vertical; /* 垂直排列元素 */
        -webkit-line-clamp: 2; /* 显示多少行 */
      }
      img{
        width: 9.6rem;
        height:6.4rem;
        background: url('./1.png') no-repeat;
        background-size:100% 100%;
        margin-top: .5rem;
      }
    }
  }
}